* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
}

button {
    border: none;
    outline: none;
    padding: 4px 8px;
    background-color: rgb(16, 221, 228);
    color: white;
    cursor: pointer;
}